# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Large Dataset Folders
dataset/
*.zip
*.tar
*.gz

# Model runs and weights
runs/
yolov8n.pt

# Virtual Environments
.venv/
venv/
ENV/
env/
